body {
    font-family: "Secular One";
    margin: 0;
    padding: 0;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("../imagens/aaaa.png");
    color: white;
}

img{
    margin-left: 10%;
    border-radius: 2%;
    
}

a{
    color: #fff;
}

section {
    max-width: 1000px;
    margin: 20px auto;
    padding: 20px;
    background-color: #212020;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

article {
    
    border-bottom: 2px solid #ddd;
    border-radius: 15px;
}

h2 {
    color: white;
    font-family: "Rubik";
}

h3{
    font-family: "Rubik";
    
}

h4{
    font-family: "Rubik";
}

p {
    line-height: 1.6;
    font-family: "Rubik";
    font-weight: -300;
}

footer {
    text-align: center;
    padding: 5px;
    background-color: #333;
    color: #fff;
}

header {
    background-image: url("../imagens/logo.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    color: #fefefe;
    padding: 0px;
    text-align: center;
    position: relative;
    z-index: 1;
}

.logo{
    position: relative;
    background-size: cover;
    height: 100px;
    width: 230px;
    margin-bottom: -80px;
    margin-left: -70%;
    z-index: 2;
}

.linha{
    margin-left: 370px;
    text-align: center;
    width: 50%;
    color: #D9D9D9;
}


h1 {
    margin-bottom: 5px;
    font-family: "Rubik";
}

.main-nav {
    display: flex;
    justify-content: center;
    
    
}

.main-nav a {
    color: #fff;
    text-decoration: none;
    padding: 3px;
    margin: 0 5px;
    font-family: "Rubik";
}